
*{
    padding: 0;
    margin:0;
   
}
/* navbar style */

.navbar{
    display: flex;
    justify-content: space-between;
   
    
    
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
    margin: 32px 50px;
    

}
.btn-sign{
    font-size: 18px;
    font-weight: 600px;
    padding: 15px 30px;
    margin: 30px 100px;
    border-radius: 8px;
    color:#006A50 ;
    border: 1px solid #006A50;
}
.banner{
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    align-items: center;
    text-align: justify;
    width:850px;
    height:400px;
    margin:0 50px;
    border-radius:24px;
}
.banner-right img{
    width:300px;
    height:300px;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
   
}
.banner-left{
   margin: 60px;
}
 .btn-banner{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius:8px;
    border: none;
    margin-top: 20px ;
    padding: 15px 30px;
 }
 .banner-title{
    font-weight: bold;
    font-size: 40px;
 }
 .banner-sub-title{
    font-size: 24px;
    color: #0E0E0E;
    font-weight: 400;
    opacity: 50%;
    margin-bottom:20px;
 }
 /* main style */
 main{
    margin:100px 50px;
    
  
 }

 .vission{
    width: 850px;
    height: 500px;
   
   
 }
 .vission-title{
    font-weight: bold;
    font-size: 40px;
 }
 .vission-description{
    font-size: 16px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 30px;
 }

 .box{
    display: flex;
    gap: 20px;
    align-items:center;
 }
  .box1{
    width: 280px;
    height:250px;
    background-color: #548ff55b ;
    border-radius: 16px;
    padding:20px;
    
    
  }
.box2{
    width: 280px;
    height:250px;
    background-color: #C6E4D6 ;
    border-radius: 16px;
    padding:20px;
}
.box3{
    width: 280px;
    height:250px;
    background-color: #F7EBCF ;
    border-radius: 16px;
    padding:20px;
}
 .box-img{
    width: 64px;
    height: 64px;
    margin-bottom:20px;
 }
 .box-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
 }
 .box-descripton{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 10px;
 }
 .box1-btn{
    font-size: 16px;
    font-weight: 600;
    padding:10px 20px;
    color: #FFFFFF;
    background-color:#5490F5;
    border-radius: 8px;
    border: none;
 }
 .box2-btn{
    font-size: 16px;
    font-weight: 600;
    padding:10px 20px;
    color: #FFFFFF;
    background-color:#09A15C;
    border-radius: 8px;
    border: none;
    margin-top:15px;
 }
 .box3-btn{
    font-size: 16px;
    font-weight: 600;
    padding:10px 20px;
    color: #FFFFFF;
    background-color:#FFC239;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
 }
 /* recent bar style */
 .recent{
    width: 850px;
    width:800;
    text-align:justify;
   

 }
 .recent-box{
    display: flex;
    align-items: center;
    gap: 30px;
    
    padding:40px;
    background-color:#e0e0e0;
    border-radius: 24px;

 }
 .recent-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 10px;
 }
 .recent-sub-title{
    font-size:16px;
    color: #0e0e0ead;
    margin-bottom: 10px;
 }
 .recent-title-2{
    font-size: 32;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom:10px;

 }
 .recent-img{
    width: 300px;
    height:200;
    border-radius: 24px;


 }
.recent-time{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.a-img{
    width:100px;
    height: 30px;
}
.btn-recent{
    font-size: 16px;
    font-weight: 600;
    padding:10px 20px;
    color: #FFFFFF;
    background-color:#006A50;
    border-radius: 8px;
    border: none;
    
}
.recent-box-2{
    display: flex;
    align-items: center;
    gap: 30px;
    
    padding:40px;
    background-color:#e0e0e0;
    border-radius: 24px;
    margin-top: 50px;

}
